@import '../../scss/config';

.add-entity {
  width: 100%;
  padding: 24.26px 21.5px;
  background-color: $white;
  border-radius: 5px;
  @extend %column-start;
  align-items: flex-start;

  .tabs {
    width: 100%;
    @extend %row-start;
    gap: 3.5%;
    margin-bottom: 26.6px;

    .btn {
      border-radius: 4px;
      padding: 7px 15px;
      .selectedText {
        @extend %semi14p;
        color: $white;
      }

      p {
        @extend %reg14p;
        color: $dark-text;
      }
    }
  }
}
